*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    background-color: rgb(17, 17, 17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.card{
    width: 350px;
    height: 392px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(54, 54, 54, 0.5);
    margin: 50px;
    border-radius: 3px 3px 3px 3px;
    
}
img{
    width: 350px;
    height: 196px;
    
    border-radius: 3px  3px 0px 0px;

}
h2{
    width: 318 px;
    height: 32 px;
    font-size: 20px;
    color: honeydew;

}
.heading{
    width: 350px;
    height: 86px;
    padding: 16px;

}
h3{
    width: 318px;
    height: 22px;
    font-size: 14px;
    color: gray;
}

.para{
    width: 318px;
    height: 48px;
    margin: 16px;
    padding: 0px 4px 8px ;
    font-size: 14px;
    font-weight: 500;
    color: honeydew;

}
.footer{
   
    width: 350px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   

}

.image1{
    width: 350px;
    height:200px;
    
}
.icons{
    margin-right: 12px;
}
.button{
    width: 64px;
    height: 32px;
    display: flex;
    margin: 4px;
    
    
    
    
}
.para1{
    width: 318px;
    height: 48px;
    margin: 12px;
    padding: 0px 4px 8px ;
    font-size: 14px;
    font-weight: 500;
    color: honeydew;


}
.title{
    font-weight: 600;
    padding: 4px;
    font-size: 14px;
    font-family: sans-serif;
    color: RGB(98, 0, 237);
    border: none;
}
.icon{
    width: 32px;
    height: 32px;
    margin-top:4px ;
    background-color: rgba(32, 27, 36, 0);
    color: white;
    border: none;
}
.icon-side{
    display: flex;
    justify-content: flex-end;
    width: 350px;

    
}
.icon1{
    width: 35px;
    height: 35px;
    margin-top:4px ;
    background-color: rgba(23, 13, 26, 0.034);
    color: white;
    border: none;
    justify-content: space-between;

}
.icon:hover{
    background-color: rgba(216, 191, 216, 0.247);
    border-radius: 27px;
}
.title:hover{
    background-color: rgb(235, 208, 235);
   

}
.para1:hover{
    background-color: rgba(235, 208, 235, 0.11);
    border-radius: 4px;
    height: 60px;
    padding: 3px;

}
.para:hover{
    background-color: rgba(235, 208, 235, 0.11);
    border-radius: 4px;
    height: 60px;
    padding: 3px;

}
.allignment
{
    display: flex;
    flex-wrap: wrap;
    
   

}
/*header*/
.nav{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: rgba(245, 155, 21, 0.397);
    border-radius: 10px;
    margin: 8px;

}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(36, 36, 36);

}
.header{
    background-color: rgb(255, 174, 0);
    height: 8rem ;


}
a{
    text-decoration: none;
    font-family:  serif;
    font-weight: 600;
    color: cornsilk;
    background-color: rgba(252, 203, 99, 0.452);
    padding: 8px;
    border-radius: 8px;
}
a:hover{
    background-color:rgba(245, 245, 245, 0.425) ;
    
}