*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    background-color: rgba(19, 14, 20, 0.856);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.card{
    width: 350px;
    height: 390px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 2px white;
    margin: 50px;
    border-radius: 3px 3px 3px 3px;
    
}
img{
    width: 350px;
    height: 196px;
    
    border-radius: 3px  3px 0px 0px;

}
h2{
    width: 318 px;
    height: 32 px;
    font-size: 20px;
    color: honeydew;

}
.heading{
    width: 350px;
    height: 86px;
    padding: 16px;

}
h3{
    width: 318px;
    height: 22px;
    font-size: 14px;
    color: gray;
}

.para{
    width: 318px;
    height: 48px;
    margin: 16px;
    padding: 0px 4px 8px ;
    font-size: 14px;
    font-weight: 500;
    color: honeydew;

}
.footer{
   
    width: 350px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   

}

.image1{
    width: 350px;
    height:200px;
    
}
.icons{
    margin-right: 12px;
}
.button{
    width: 64px;
    height: 32px;
    display: flex;
    margin: 4px;
    
    
}
.para1{
    width: 318px;
    height: 48px;
    margin: 12px;
    padding: 0px 4px 8px ;
    font-size: 14px;
    font-weight: 500;
    color: honeydew;


}
.title{
    font-weight: 600;
    padding: 4px;
    font-size: 14px;
    font-family: sans-serif;
    color: RGB(98, 0, 237);
}
.icon{
    width: 32px;
    height: 32px;
    margin-top:4px ;
    background-color: rgba(34, 27, 36, 0.856);
    color: white;
    border: none;
}
.icon-side{
    display: flex;
    align-self: flex-end;
}