*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    .header{
        background-color:RGB(98, 0, 237)  ;
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        box-shadow: 1px 1px 3px 1px #e5b3fe;
        

    }
    .menu{
        width: 48px;
        height: 48px;
        background-color: RGB(98, 0, 237) ;
        border: none;
        color: white;
        font-size: 24px;
        padding: 12px;

    }
    .title{
        padding: 0px 0px 0px 16px ;
        font-size: 20px;
        font-weight:600 ;
        color: white;
        width: 175px;
        height: 32px;
      
       
    }
   .align-end{
       display: flex;
       justify-content: space-evenly;
     
       

   }
   .mdc-icon{
    width: 48px;
    height: 48px;
    background-color: RGB(98, 0, 237) ;
    border: none;
    color: white;
    font-size: 24px;
    padding: 12px;
    align-self: center;
    margin-right: 4px;
    

   }
   .mdc-icon:hover{
       background-color: RGB(99, 0, 287);
       border-radius: 27px;
       margin-right: 4px;

   }
  .menu:hover{
      background-color: RGB(99, 0, 287);
  border-radius: 27px;
  margin-left: 4px;
}
p{
    margin: 20px;
    background-color: rgb(243, 230, 255);
    padding: 16px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #e5b3fe;
}
/*header*/
.nav{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: rgba(245, 155, 21, 0.397);
    border-radius: 10px;
    margin: 8px;

}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(36, 36, 36);

}
.header23{
    background-color: rgb(255, 174, 0);
    height: 8rem ;


}
a{
    text-decoration: none;
    font-family:  serif;
    font-weight: 600;
    color: cornsilk;
    background-color: rgba(252, 203, 99, 0.452);
    padding: 8px;
    border-radius: 8px;
}
a:hover{
    background-color:rgba(245, 245, 245, 0.425) ;
    
}
