*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
    
    height: 48px;
    background-color: #333333;
    display: inline-block;
    border-radius: 4px;
    position: fixed;
    bottom: 20px ;
    left: 20px;


}
button{
    width: 65px;
    height: 36px;
    border-radius: 3px;
    border: none;
    font-weight: 600;
    color: rgb(124, 70, 175);
    background-color: #333333;
    font-size: 14px;
    
}
.fas {
    width: 36px;
    height: 36px;
    padding: 9px;
    margin: 0px 0px 0px 8px;
    font: 16px;
    color: blanchedalmond;

}
.snackbar{
    padding: 8px;
    
    color: blanchedalmond;
}
.fas:hover{
    background-color: rgba(240, 248, 255, 0.11);
    border-radius: 50%;
    
}
/*header*/
.nav{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: rgba(245, 155, 21, 0.397);
    border-radius: 10px;
    margin: 8px;

}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(36, 36, 36);

}
.header23{
    background-color: rgb(255, 174, 0);
    height: 8rem ;


}
a{
    text-decoration: none;
    font-family:  serif;
    font-weight: 600;
    color: cornsilk;
    background-color: rgba(252, 203, 99, 0.452);
    padding: 8px;
    border-radius: 8px;
}
a:hover{
    background-color:rgba(245, 245, 245, 0.425) ;
    
}

    