*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    background-color: rgb(17, 6, 16);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.container{
    width: 255px;
    height: 264px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 1px 2px 2px white;
    display: flex;
    flex-direction: column;
    
    
}
.header{
    padding: 0px 16px 4px;
    



}
.main-component{
    display: flex;
    flex-direction: column;
    width: 255px;
   
    margin: 8px 0px;

}
.component{
    font-size: 18px; 
    margin: 2px 8px 8px;
    padding: 0px 8px;
    width: 239px;
    height: 40px;
    font-weight: 600;
    color: rgb(22, 22, 22);
    padding-top: 6px;

}
h3{
    color: RGB(98, 0, 237);
    size: 12px;
}
.far {
    width: 40px;
    color: rgb(53, 53, 53);
    
}
.fas {
    width: 40px;
    height: 40px;
    color: rgb(80, 80, 80);
}
h2{
    color: rgb(27, 27, 27);
}
.component:hover{
   background-color: rgba(175, 131, 247, 0.527);
   border-radius: 4px;
   height: 40px;
}