*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    background-color: rgb(26, 31, 58);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tab{
    width: 400px;
    height: 745px;
    background-color: rgba(60, 22, 163, 0.582);
    border-radius: 3px;
    padding:  2px;
}
.tab-icon{
    background-color: rgba(60, 22, 163, 0.582);
    border-radius: 3px;
    display: flex;
    justify-content: flex-end;
    padding: 3px;
    color: rgb(212, 212, 212);
}
.far{
    width: 16px;
    height: 16px;
    align-items: center;
    margin: 4px;
}
.fas {
    width: 16px;
    height: 16px;
    align-items: center;
    margin: 4px;
}
.fas{
    width: 16px;
    height: 16px;
    align-items: center;
    margin: 4px;

    
}
.menu{
    margin-top: 1rem;
    width: 20px;
    height: 20px;
    border: none;
    color: rgb(32, 32, 32);
    font-size: 20px;
    padding: px;
    background-color: cornsilk;

}
.title{
    padding: 0px 0px 0px 16px ;
    font-size: 20px;
    font-weight:600 ;
    color: rgb(27, 27, 27);
    width: 175px;
    height: 32px;
  
   
}
.align-end{
   display: flex;
   justify-content: space-evenly;
 
   

}
.mdc-icon{
margin-top: 1rem;
border: none;
color: rgb(36, 36, 36);
font-size: 20px;padding: 4px;
align-self: center;
background-color: rgb(255, 255, 255);


}

.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    
}
.header1{
    background-color: rgb(255, 255, 255);
    height: 8rem;
}
.chip{

    display: flex;
    justify-content: space-between;
    background-color: rgb(37, 37, 37);
    margin-top: 2rem;  
}
.chip-card{
    display: flex;
    flex-direction: column;
    margin: 1rem; 
    font-size: 20px;
    font-weight: 700;
    color: rgb(113, 114, 113);
    align-items: center;
    

}
.far{
    display: flex;
    align-content: center;
}
h2{
    font-size: 20px;
    margin: 10px;
    padding-top: 20px;
}
img{
    width: 150px;
    height: 150px;
    margin-top: 1.2rem;
    margin-left: 1.4rem;
}
.containner{
    background-color: rgb(238, 238, 238);
    display: grid;
    width: 395px;
    height: 600px;
    margin-top: 5px;
    border-radius: 3px;
    grid-template-columns: 1fr 1fr;
   
    
    
}
main-comp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*header*/
.nav{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: rgba(245, 155, 21, 0.397);
    border-radius: 10px;
    margin: 8px;

}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(36, 36, 36);

}
.header23{
    
    background-color: rgb(255, 174, 0);
    height: 8rem ;


}
a{
    text-decoration: none;
    font-family:  serif;
    font-weight: 600;
    color: cornsilk;
    background-color: rgba(252, 203, 99, 0.452);
    padding: 8px;
    border-radius: 8px;
}
a:hover{
    background-color:rgba(245, 245, 245, 0.425) ;
    
}

